{% extends '@HWIOAuth/layout.html.twig' %}

{% block bodyclass %}login{% endblock %}

{% block hwi_oauth_content %}
    <div id="login-screen" class="ui piled very padded text center aligned container segment">
        <img src="{{ asset('bundles/app/images/gruik.png') }}" alt="Gruik logo">
        <div class="ui horizontal divider">
            Please login
        </div>
        <div class="oauth">
            <a class="ui secondary button" href="{{ path('hwi_oauth_service_redirect', {'service': 'github' }) }}">
                <i class="fa fa-github"></i> Login with GitHub
            </a>
        </div>
    </div>
{% endblock %}
