{% extends '@App/base.html.twig' %}

{% block body %}
    <h3>Lorem !</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus at aut autem blanditiis dolorum eaque eius facere harum ipsum nisi, non nulla numquam perferendis provident quidem quisquam ratione rerum voluptate.</p>
{% endblock %}
