# System
.DS_Store
Thumbs.db

# Developer env
/.idea
.jshintrc

# Vendor & externals
/vendor
/public/vendor

# Composer
composer.phar
composer.lock

# NPM
/node_modules/
npm-debug.log

# Laravel
/bootstrap/compiled.php
/app/config/local
.env.local.php
.env.php
