.navbar-nav > .user-menu > .dropdown-menu > li.user-header {
    background: url('/img/bglogin.png');
}

.rotate-anti {
  -webkit-transform: rotate(-90deg);
     -moz-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
       -o-transform: rotate(-90deg);
          transform: rotate(-90deg);
    float: left;
    vertical-align:top;
}

.wrapper, .content {
    background: url('/img/bgbody.png');
}

.box .todo-list > li.private {
    margin-left: 16px;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

.btn.btn-app > .badge {
  font-size: 13px;
}

.skin-black .logo {
  background-color: #fff;
  color: #000;
  border-bottom: 1px solid #eee;
}

.skin-black .logo:hover {
  background: #fff;
}

.gruik-top-menu {
  margin-top:10px;
}
.gruik-top-menu > a {
  font-weight: bold;
  color:#000;
  display: inline-block;
  margin-right: 30px;
}
.gruik-top-menu > a:hover {
  color:#3c8dbc;
}
.gruik-top-menu > input {
  padding: 4px 5px;
  border:1px solid #EFEFEF;
  width: 250px;
}
.gruik-top-menu > input:focus {
  border:1px solid #EFEFEF;
}

.navbar-nav>li>a {
  padding-top: 12px !important;
  padding-bottom: 15px;
}

#markdown_content {
  padding-left: 25px;
  padding-right: 25px;
}

.box-body img {
  max-width: 100%;
}

*:focus {
  outline: none !important;
}