<div class="ten wide column">
    <div class="ui top attached segment">
        <h4 class="ui header">Create a gruik note</h4>
    </div>
    <div class="ui bottom attached segment">
        <div class="ui form">
            <div class="inline fields">
                <div class="sixteen wide field">
                    <input type="text" placeholder="Title" style="border-left: 0; border-right: 0; border-top: 0; border-bottom: 1px dotted; border-radius: 0;">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="sixteen wide column" style="padding:0 50px; margin-top: 30px;">
    <div class="ui grid">
        <div id="note-editor" class="eight wide column">
        </div>
        <div id="note-viewer" class="eight wide column">
        </div>
    </div>
</div>
