<div class="ui stacked segment">
    <p style="text-align: center;">
        <i class="ui massive icon write circular blue label" style="font-weight: 200; margin-top: -50px;"></i>
    </p>
    <div style="margin-top: -40px; text-align: right;">
        <button class="ui button icon" data-position="left center" data-content="Need help with markdown syntax?" data-variation="inverted">
            <i class="icon help"></i>
        </button>
        <button class="ui primary button icon">
            <i class="icon save"></i> Save
        </button>
    </div>
    <hr>
    <div id="editor"></div>
</div>
