{% extends 'AppBundle::base.html.twig' %}

{% block content %}
    <div class="ui grid centered" id="edit-view">
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('vendor/dist/ace.js') }}"></script>
    <script>
        require(['gruik/edit', 'backbone'], function (Edit, Backbone) {

            var editForm = new Edit({
                model: new Backbone.Model(),
                el: document.getElementById('edit-view')
            });

            editForm.render();

            $('.button').popup();
        });
    </script>
{% endblock %}
